//- Poggit-Delta
//-
//- Copyright (C) 2018-2019 Poggit
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

block seo
	meta(property="og:site_name", content="Poggit")
	meta(property="og:image", content=meta.image)
	meta(property="og:type", content="article")
	meta(property="og:title", content=meta.title)
	meta(property="og:description", content=meta.description)
	meta(property="og:url", content=meta.url)
	meta(property="twitter:card", content="summary")
	meta(property="twitter:site", content="poggitci")
	meta(property="twitter:title", content=meta.title)
	meta(property="twitter:description", content=meta.description)
