<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta property="og:site_name" content="Poggit Plugins"/>
		<meta property="og:image" content="{{ common.icon }}"/>
		<meta property="og:title" content="{{ common.title }}"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="{{ common.url }}"/>
		<meta property="og:description" content="{{ common.description }}"/>
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:site" content="poggitci"/>
		<meta name="twitter:title" content="{{ common.title }}"/>
		<meta name="twitter:description" content="{{ common.description }}"/>
		<title{{ common.title }}</title>
		<meta name="application-name" content="Poggit/Rocket"/>
		<meta name="description" content="{{ common.description }}"/>
		<meta name="keywords" content="{{ global.keywords }},{{ common.keywords }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="theme-color" content="#292b2c"/>
		<link rel="canonical" href="{{ common.url }}"/>
		<link rel="dns-prefetch" href="https://github.com"/>
		<link rel="dns-prefetch" href="https://raw.githubusercontent.com"/>
		<link rel="dns-prefetch" href="https://avatars0.githubusercontent.com"/>
		<link rel="dns-prefetch" href="https://avatars1.githubusercontent.com"/>
		<link rel="dns-prefetch" href="https://avatars2.githubusercontent.com"/>
		<link rel="dns-prefetch" href="https://avatars3.githubusercontent.com"/>
		<link rel="dns-prefetch" href="https://github.githubassets.com"/>
		<link rel="dns-prefetch" href="https://raw.githubusercontent.com"/>
		{{!-- link rel="search" href="https://plugins.pmmp.io/open-search.json" --}
		<link rel="stylesheet" type="text/css" href="/static/style.css?{{ global.runtime }}"/>
		<script src="/static/client.js?{{ global.runtime }}"></script>
	</head>

	<body>
		<div id="body">
		</div>
	</body>
</html>
