//- Poggit-Delta
//-
//- Copyright (C) 2018-2019 Poggit
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

doctype html
html
	head
		title= title
		meta(name="description", content=meta.description)
		meta(name="keywords", content=meta.keywords.join(","))
		block seo
			meta(property="og:site_name", content="Poggit")
			meta(property="og:image", content=meta.image)
			meta(property="og:type", content="article")
			meta(property="og:title", content=meta.title)
			meta(property="og:description", content=meta.description)
			meta(property="og:url", content=meta.url)
			meta(property="twitter:card", content="summary")
			meta(property="twitter:site", content="poggitci")
			meta(property="twitter:title", content=meta.title)
			meta(property="twitter:description", content=meta.description)

		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="theme-color", content="#47929A")
		meta(name="apple-mobile-web-capable", content="yes")

		link(type="text/css", rel="stylesheet", href="/style/style.css")
		link(type="text/css", rel="stylesheet", href="/javascripts/bootstrap.js")

		unless debug
			script.
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
					ga("create", "UA-93677016-1", "auto");
					ga("send", "pageview");

	body
		header
			nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
				a.navbar-brand(href="/")
					img(src="/favicon.ico", height=50)
					| Poggit
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse",
						aria-controls="navbarCollapse", aria-expanded=false, aria-label="Toggle navbar")
					span.navbar-toggler-icon
				div#navbarCollapse.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item: a(href="/") Home
		#body
			block body
