//- Poggit-Delta
//-
//- Copyright (C) 2018-2019 Poggit
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

extends ./parent

block body
	h2 PocketMine API version history
	each version in versions
		.PmApi
			h3= version.name
				if version.bcBreak
					.badge.badge-warn
						+CursorNote("This is a backward-incompatible update", false)
							span.glyphicon.glyphicon-exclamation-sign(aria-hidden=true)
						.sr-only Warning: backward-incompatible update
				.badge.badge-php
					| PHP #{version.minPhp}
				a.badge(href=version.download)
					span.glyphicon.glyphicon-download-alt(aria-hidden=true)
					.sr-only Download

			ul
				each line in version.description
					li= line
